<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of Use - oneliner.tech</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: 'Courier New', Courier, monospace;
        }

        h1, h2 {
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }

        p {
            margin-bottom: 1.5rem;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Terms of Use</h1>
        <p>Unless otherwise stated, all content on the oneliner.tech website is subject to copyright. Any unauthorised use of content on this website is prohibited.</p>

        <p>Feel free to link to any article on this website, but please don't copy it and use it on your own website or any other publication without my permission.</p>

        <p>Some parts of the site have free templates that you can download and use. There are also code examples throughout the site. You can copy these and use in your own projects without asking permission.</p>

        <p>Please don't embed the oneliner.tech website within a frame from another website.</p>

        <p>Oneliner.tech contains links to other websites. Oneliner.tech is not responsible for the content on these websites.</p>

        <p>This website is provided without warranty of any kind. There is no guarantee of availability. All content is subject to change at any time and may not necessarily be up to date or accurate at any given time.</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>
